# https://github.com/sphinx-doc/sphinx
Sphinx==7.2.6

# https://github.com/readthedocs/sphinx_rtd_theme
sphinx-rtd-theme==2.0.0

# https://github.com/sphinx-contrib/spelling
sphinxcontrib-spelling==8.0.0

# https://github.com/jbms/sphinx-immaterial
# https://jbms.github.io/sphinx-immaterial/keys.html#keys-extension-role
sphinx-immaterial[keys]==0.11.11

# https://packaging.pypa.io
packaging
