name: ClangFormat

on:
  push:
    branches-ignore:
    - 'wip.*'
    - 'pr.*'
    tags:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: ubuntu-22.04

    steps:
    # - https://github.com/actions/checkout
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Install Clang 17.0.6
      run: |
        wget https://github.com/llvm/llvm-project/releases/download/llvmorg-17.0.6/clang+llvm-17.0.6-x86_64-linux-gnu-ubuntu-22.04.tar.xz
        tar xf ./clang+llvm-17.0.6-x86_64-linux-gnu-ubuntu-22.04.tar.xz
        rm ./clang+llvm-17.0.6-x86_64-linux-gnu-ubuntu-22.04.tar.xz
        mkdir -p "${HOME}/opt/"
        mv clang+llvm-17.0.6-x86_64-linux-gnu-ubuntu-22.04/ "${HOME}/opt/"
        echo "${HOME}/opt/clang+llvm-17.0.6-x86_64-linux-gnu-ubuntu-22.04/bin/" >> $GITHUB_PATH

    - name: Check format
      run: ./docs/check_format.py
