name: ClangFormat

on:
  push:
    branches-ignore:
    - 'wip.*'
    - 'pr.*'
    tags:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    # https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: ubuntu-24.04

    steps:
    # - https://github.com/actions/checkout
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Install LLVM 21.1.5
      run: |
        wget https://github.com/llvm/llvm-project/releases/download/llvmorg-21.1.5/LLVM-21.1.5-Linux-X64.tar.xz
        tar xf ./LLVM-21.1.5-Linux-X64.tar.xz
        rm ./LLVM-21.1.5-Linux-X64.tar.xz
        mkdir -p "${HOME}/opt/"
        mv ./LLVM-21.1.5-Linux-X64/ "${HOME}/opt/"
        echo "${HOME}/opt/LLVM-21.1.5-Linux-X64/bin/" >> $GITHUB_PATH

    - name: Check format
      run: ./doc/check_format.py
