name: Sphinx documentation

on:
  push:
    branches-ignore:
    - 'wip.*'
    - 'pr.*'
    tags:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    # https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: ubuntu-24.04

    steps:
    # - https://github.com/actions/checkout
    - uses: actions/checkout@v5
      with:
        submodules: true

    - name: Setup Python virtual environment
      run: python3 ./doc/setup_venv.py

    - name: Build Sphinx documentation
      run: python3 ./doc/run_build.py
