name: Sphinx documentation

on:
  push:
    branches-ignore:
    - 'wip.*'
    - 'pr.*'
    tags:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: ubuntu-22.04

    steps:
    # - https://github.com/actions/checkout
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Python 3.11
      run: sudo apt --yes install python3.11 python3.11-venv

    - name: Setup Python virtual environment
      run: python3.11 ./docs/setup_venv.py

    - name: Build Sphinx documentation
      run: python3.11 ./docs/run_build.py
